$color-primary: #ff4d4f; // Pulse Red


$bg-gray-light: rgba(110, 109, 109, 0.34);
$bg-gray-dark: rgba(111, 108, 108, 0.24);
// 



$color-secondary-light: #34495e; // Charcoal Gray
$color-secondary-dark: #2c3e50; // Midnight Blue

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT-SIZE
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;