.btn {
    &,
    &:link,
    &:visited {
      font-family: "Poppins", sans-serif;
      text-decoration: none;
      
      border-radius: 10px;
      display: inline-block;
      position: relative;
  
      transition: all 0.2s ease-out;

      // Change for the <button> element
      border: none;
      cursor: pointer;

      @include respond(phone){
        padding: 1rem;
      }
    }
  
    &:hover {
      // transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }
    
    &:focus, &:active {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }
    
    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    
      transition: all 0.4s;
    }

    &--main {
      font-size: 3.6rem;
      text-transform: uppercase;
      font-weight: 700;
      padding: 1rem 8rem;

      @include respond(phone){
        font-size: 1.8rem;
      }
    }
  
    &--white {
      background-color: $color-white;
      color: $color-gray-dark;

      &::after {
        background-color: $color-white;
      }
    }

    &--pulsered {
      background-color: $color-primary;
      color: $color-white;

      &::after {
        background-color: $color-primary;
      }
    }

    &-cta {
      border: 1px solid $color-primary;
      background-color: $color-white;
      color: $color-primary;
      font-size: 2rem;

      &:hover {
        background-color: $color-primary;
        color: $color-white;
      }
    }

    
    &:hover::after {
      transform: scale(1.5);
      opacity: 0;
    }
    
    
  
    &--animated {
      animation: moveFromBottom 1s ease-out 0.75s;
      animation-fill-mode: backwards;
    }
  }

  .btn-text {
   

    &:link, &:visited {
      font-size: 1.6rem;
      color: $color-primary;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $color-primary;
      padding: 3px 10px;
      transition: all 0.2s;
    }

    &:hover {
      background-color: $color-primary;
      color: $color-white;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
      transform: translateY(2px);
      border-radius: 12px;

    }

    &:active {
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
      transform: translateY(0);
    }
  }

