body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $color-gray-dark;
}

.heading-primary {
  font-family: "Inter", sans-serif;


  color: $color-white;
  text-align: center;

  backface-visibility: hidden;

  

  &--main {
    display: block;
    font-size: 13rem;
    font-weight: 900;
    letter-spacing: 2px;
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.5);

    animation: moveFromLeft 2s ease-out;

    @include respond(phone){
      font-size: 5rem;
    }

    /* animation-name: moveFromLeft;
        animation-duration: 2s;
        animation-timing-function: ease-out; */
  }

  &--sub {
    display: block;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 1px;
    font-style: italic;
    margin-bottom: 4rem;

    

    animation: moveFromRight 2s ease-out;

    @include respond(phone){
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    /* animation-name: moveFromRight;
        animation-duration: 2s;
        animation-timing-function: ease-out; */
  }
}

.heading-secondary {
  font-size: 3.2rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor: default;

  display: inline-block;
  background-image: linear-gradient(
    to right,
    rgba($color-secondary-light, 0.8), rgba($color-secondary-dark, 0.8)
  );
  -webkit-background-clip: text;
  color: transparent;

  transition: all 0.5s;

  @include respond(tab-port){
    font-size: 2.5rem;
  }


  &:hover {
    transform: scale(1.05);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}


.heading-tertiary {
  font-family: "Inter", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  color: #000;
  // background-image: linear-gradient(
  //   to right,
  //   rgba($color-secondary-light, 0.8), rgba($color-secondary-dark, 0.8)
  // );
  // -webkit-background-clip: text;
  // color: transparent;
}


.paragraph {
  font-size: $default-font-size;
  line-height: 1.2;
  

   &:not(:last-child) {
    margin-bottom: 3rem;
   }
}