@import "../abstracts/variable";
@import "../abstracts/mixins";

.parent-section {
  position: relative;
  margin: 0;
  padding: 0;
}

.section-about {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: $color-gray-light-1;
  padding: 5rem 3rem;
  margin-top: -25rem;
  width: 119rem;
  height: 55rem;
  z-index: 100;
  border-radius: 10px;

  @include respond(tab-port) {
    padding: 20rem 8rem;
  }

}

.section-features {
  position: relative;
  width: 100%;
  padding: 35rem 0 15rem;

  background-image: linear-gradient(
      to right,
      rgba($color-secondary-light, 0.8),
      rgba($color-secondary-dark, 0.8)
    ),
    url("../img/nat-4.jpg");
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 84%, 0 100%);

  
  margin-top: 11rem;
  // transform: skewY(-7deg);
  // & > * {
  //   transform: skewY(7deg);
  // }


  @include respond(tab-port) {
    padding: 10rem 0;
  }


}

.section-tours {
  background-color: $color-gray-light-1;
  padding: 3rem 0 15rem;

  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }
}

.section-stories {
  // display: none;
  position: relative;
  padding: 15rem 0;
  // background-color:  $color-gray-light-1;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-book {
  display: none;
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-secondary-light,
    $color-secondary-dark
  );

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.book {
  // display: none;
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

  @include respond(tab-land) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 65%,
        transparent 65%
      ),
      url(../img/nat-10.jpg);
    background-size: cover;
  }

  @include respond(tab-port){
    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 100%
      ),
      url(../img/nat-10.jpg);
    background-size: cover;
  }

  &_form {
    width: 50%;
    padding: 6rem;

    @include respond(tab-land) {
      width: 65%;
    }

    @include respond(tab-port) {
        width: 100%;
      }
  }
}
