@import "../abstracts/variable";
@import "../abstracts/mixins";

.parent-section {
  position: relative;
  margin: 0;
  padding: 0;
}

.section-about {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: $color-gray-light-1;
  padding: 5rem 3rem;
  margin-top: -25rem;
  width: 119rem;
  height: 55rem;
  z-index: 100;
  border-radius: 10px;

  @include respond(phone){
    position: relative;
    left: 0;
    transform: translateX(0);
    width: 100%;
    margin-top: 0rem;
    padding: 5rem 3rem;
  }

  // @include respond(tab-port) {
  //   padding: 20rem 8rem;
  // }


}

.section-features {
  position: relative;
  width: 100%;
  padding: 35rem 0 15rem;

  background-image: linear-gradient(
      to right,
      rgba($color-secondary-light, 0.8),
      rgba($color-secondary-dark, 0.8)
    ),
    url("../img/nat-4.jpg");
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 84%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 84%, 0 100%);

  
  margin-top: 11rem;
  // transform: skewY(-7deg);
  // & > * {
  //   transform: skewY(7deg);
  // }

  @include respond(phone){
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }


  @include respond(tab-port) {
    padding: 10rem 0;
  }


}

.section-tours {
  background-color: $color-gray-light-1;
  padding: 3rem 0 15rem;


  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }
}

.section-stories {
  position: relative;
  padding: 15rem 0;
  // background-color:  $color-gray-light-1;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}
